.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


form {
  padding: 1rem;
}
form,label {
text-align: start;
  font-size: 1rem;
  font-weight: bold;
}
#room {
  min-height: 260px;
}

input[type="submit"],
input[type="submit"]:focus,
input[type="submit"]:active,
textarea,
input,
#room 
{
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
  background: none;
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

input[type="submit"]:hover {
  background: #000;
  color: #fff;
}

.formRoom  {
    display: flex;
  flex-flow: column nowrap;
  height: auto;
  width: 30%;
}
.formRoom form {
  display: flex;
  flex-direction: column;

}

.formRoom textarea {
  min-height: 33px;
  width: 100%;
}

.loginForm {
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  width: 25%;
}
.loginForm input {
  height: 30px;
  width: 100%;
}

.loginForm textarea {
  display: none;
  height: 60px;
  width: 100%;
}


#room {
  width: 100%;
  height: 270px;
  overflow: auto;
}
#room>div {
    width: 100%;
    height: auto;
    text-align: start;
    padding-left: 1rem;
}
.chatroom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}